{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gastronomia - Festival</title>
  <link href="https://fonts.cdnfonts.com/css/gagalin" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/bar.css' %}">
</head>
<body>
  <div class="sidebar">
    <a href="..">
      <img src="{% static 'img/inicio.png' %}" alt="Início">
      Início
    </a>
  </div>

  <div class="conteudo">
    <h1 class="titulo">GASTRONOMIA</h1>
    <h2 class="categoria">LANCHES</h2>

    <div class="cardapio">
        {% for produto in produtos %}
          <form method="POST" action="{% url 'iniciar_pagamento_produto' produto.id %}">
            {% csrf_token %}
            <div class="item" onclick="this.parentElement.submit()">
              <img src="{% static produto.imagem %}" alt="{{ produto.nome }}">
              <div class="info">
                <div class="nome">{{ produto.nome }}</div>
                <div class="descricao">{{ produto.descricao }}</div>
                <div class="preco">R$ {{ produto.preco|floatformat:2 }}</div>
              </div>
            </div>
          </form>
        {% endfor %}
</div>

  </div>
</body>
</html>
