{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ingressos - Festival</title>
  <link href="https://fonts.cdnfonts.com/css/gagalin" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/ingressos1.css' %}">
</head>
<body>
  <div class="sidebar">
    <a href="..">
      <img src="{% static 'img/inicio.png' %}" alt="Início">
      Início
    </a>
  </div>

  <div class="conteudo">
    <h1>INGRESSOS</h1>

    <div class="categoria">
      <h2>PISTA</h2>
      <p class="descricao">
        Garanta seu lugar na pista e viva a experiência do show bem de perto.
        Sinta a energia da multidão, cante junto, pule, dance e aproveite cada
        momento de frente para o palco. Área sem assento – fique livre para curtir do seu jeito!
         Ideal para quem quer estar no meio da vibração!
      </p>
    </div>

    <div class="categoria">
      <h2>ÁREA VIP</h2>
      <p class="descricao">
        Viva o show com conforto e exclusividade! A Área VIP oferece uma experiência diferenciada,
        com visão privilegiada do palco, mais espaço e comodidades especiais para você curtir cada momento com estilo.
         Acesso a bares ou serviços exclusivos*  Posição estratégica para aproveitar o show com mais tranquilidade.
      </p>
      <a href="cadastro/" class="botao">ESCOLHER</a>
    </div>
  </div>
</body>
</html>
