{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tela Principal - Totem Festival</title>
  <link href="https://fonts.cdnfonts.com/css/gagalin" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/pagina_principal.css' %}">
</head>
<body>
  <div class="sidebar">
      <a href="/usuarios/registrar/">Registrar-se</a>
      <a href="/programacao/">Programação</a>
      <a href="/ingressos/">Ingressos</a>
      <a href="/mapa/">Mapa</a>
      <a href="/bar/">Bar</a>
      <!-- <a href="">Informações</a> -->
  </div>

  <div class="lineup">
    <!-- Artista principal -->
    <div class="artista-principal">
      <img src="{% static 'img/djonga.png' %}" alt="Djonga">
      <h2>DJONGA</h2>
    </div>

    <!-- Artistas secundários -->
    <div class="artistas-secundarios">
      <div class="artista">
        <img src="{% static 'img/pad_sant.png' %}" alt="Sant">
        <h2>SANT</h2>
      </div>
      <div class="artista">
        <img src="{% static 'img/pad_ludmilla.png' %}" alt="Ludmilla">
        <h2>LUDMILLA</h2>
      </div>
      <div class="artista">
        <img src="{% static 'img/bk.png' %}" alt="BK">
        <h2>BK</h2>
      </div>
      <div class="artista">
        <img src="{% static 'img/pad_matue.png' %}" alt="Matuê">
        <h2>MATUÊ</h2>
      </div>
    </div> 
  </div>
</body>
</html>
