{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Programação - Festival</title>
  <link href="https://fonts.cdnfonts.com/css/gagalin" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/programacao.css' %}">
</head>
<body>
  <div class="sidebar">
    <a href = '..'>
      <img src="{% static 'img/inicio.png' %}" alt="Início">
      Início
    </a>
  </div>
  <div class="grade">
    <div class="palco">
      <img src="{% static 'img/djonga_programacao.png' %}" alt="Artista 1">
      <div class="titulo-palco">PALCO ALTERNATIVO</div>
      <div class="horarios">
        <p>22 HRS - KYAN</p>
        <p>23 HRS - HENRIQUE E JULIANO</p>
        <p>00 HRS - DJONGA</p>
        <p>01 HRS - PÉRICLES</p>
      </div>
    </div>

    <div class="palco">
      <img src="{% static 'img/ludmilla_programacao.png' %}" alt="Artista 2">
      <div class="titulo-palco">PALCO PRINCIPAL</div>
      <div class="horarios">
        <p>22 HRS - OROCHI</p>
        <p>23 HRS - JORGE E MATHEUS</p>
        <p>00 HRS - MENOS É MAIS</p>
        <p>01 HRS - LUDMILLA</p>
      </div>
    </div>

    <div class="palco">
      <img src="{% static 'img/matue_programacao.png' %}" alt="Artista 3">
      <div class="titulo-palco">PALCO ALTERNATIVO</div>
      <div class="horarios">
        <p>22 HRS - MC DON JUAN</p>
        <p>23 HRS - MATUÊ</p>
        <p>00 HRS - KAYBLACK</p>
        <p>01 HRS - BK</p>
      </div>
    </div>
  </div>
</body>
</html>
