{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrar Pulseira</title>
  <link href="https://fonts.cdnfonts.com/css/gagalin" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/registrar.css' %}">
</head>
<body>

  <div class="sidebar">
    <a href="../..">
      <img src="{% static 'img/inicio.png' %}" alt="Início">
      Início
    </a>
  </div>

  <div class="conteudo">
    <h1>REGISTRAR PULSEIRA</h1>
    
    <form method="POST">
      {% csrf_token %}
      <label for="id_pulseira">ID da Pulseira</label>
      <input type="text" id="id_pulseira" name="id_pulseira" placeholder="TOTEM-AAA999" required>
      
      <label for="cpf">CPF</label>
      <input type="text" id="cpf" name="cpf" placeholder="000.000.000-00" required>
      
      <button type="submit" class="botao">Registrar</button>
    </form>
    
    {% if erro %}
      <p style="color: red; font-weight: bold;">{{ erro }}</p>
    {% endif %}
    {% if sucesso %}
      <p style="color: limegreen; font-weight: bold;">{{ sucesso }}</p>
    {% endif %}
  </div>
</body>
</html>
